.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img-cover{
  width: 100%;
  height: 100%;
  object-fit:contain;
}
.new-height{
  height: calc(100vh - 200px);
  transition: all 0.6s;
}
.active{
  height: 80px;
}
.img-avatar{
  --square:180px;
  width: var(--square);
  height: var(--square);
  object-fit: cover;
}
